# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
target/
gen/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Android signing
src-tauri/keystore/*.keystore
src-tauri/keystore.properties
upload.keystore.base64

# Tauri updater signing keys
.tauri
.tauri-key
.tauri-key.pub